
.grid-container {
    background-color: #353434;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px;
}

.grid-item {
    background-color: hsl(0, 93%, 56%);
    padding: 20px;
    text-align: center;
  
}

